* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: 12px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0px;
  font-weight: 500;
  border: 0 solid rgba(0,0,0,0);
}

#workspaces,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#backlight-slider,
#pulseaudio-slider,
#network,
#memory,
#taskbar,
#custom-apps,
#custom-notification,
#cpu,
#custom-wlogout, 
#battery {
  background-color: rgba(26,27,38, .3);
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  margin: 2px 0 2px 0px;
  padding: 0.2rem 0.5rem;
}

#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#network:hover,
#custom-apps:hover,
#custom-notification:hover,
#battery:hover {
  background-color: rgba(41, 42, 53, .5);
}

#clock {
  background-color: rgba(26,27,38, .3);
  padding: 0.2rem 0.5rem;
  margin: 2px 5px;
  border-radius: 6px; 
  box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
  min-width: 0;
  border: none;
}

#clock:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(153, 209, 219, 0.1); 
}

#bluetooth {
  padding: 0 5px;
  margin-left: 0px; 
}

#workspaces {
  padding: 0.1rem 0.4rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
}

#workspaces button {
  color: #babbf1;
  border-radius: 8px;
  padding: 0.2rem 0.8rem 0.2rem 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  margin: 0 1px;
}

#workspaces button.active {
  color: #99d1db;
  background-color: rgba(153, 209, 219, 0.1);
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
  background: rgba(141, 142, 153, .4); 
  color: #c6d0f5;
}

#battery {
  border-radius: 0 7px 7px 0;
}

#cpu {
  color: #c6d0f5;
  border-radius: 7px 0 0 7px;
}

#memory {
  font-size: 12px;
  border-radius: 0px 7px 7px 0px;
}

#cpu:hover, 
#memory:hover {
  color:rgba(0, 0, 0, 1);
  background-color: rgba(141, 142, 153, .4);
  border-radius: 12px;
}

#clock {
  color: #99d1db;
  font-weight: 500;
}

#pulseaudio {
  color: #c6d0f5;
  /* border-radius: 0 7px 7px 0; */
}
#network {
  color: #c6d0f5;
}

#network-speed {
  border-radius: 40%;
  margin: 2px 15px;
}

#network.disconnected {
  color: #e78284;
}

#bluetooth {
  color: #888888;
  font-size: 16px;
}
#bluetooth.on {
  color: #2196f3;
}
#bluetooth.connected {
  color: #99d1db;
}
#battery {
  color: #99d1db;;
}
#battery.charging {
  color: #a6d189;
}
#battery.warning:not(.charging) {
  color: #e78284;
}

tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 4px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

#backlight {
  color: #c6d0f5;
  padding-left: 7px;
  border-radius: 7px 0 0 7px;
}

#backlight-slider.slider, 
#pulseaudio-slider.slider {
  border: 2px;
}

#backlight-slider.highlight, 
#pulseaudio-slider.highlight {
  background-color: #ffcc00; 
  border-radius: 1px;
}


#backlight-slider.warning { color: #ffa500; }  
#backlight-slider.critical { color: #ff0000; }  

#pulseaudio-slider.warning { color: #ffa500; }  
#pulseaudio-slider.critical { color: #ff0000; }  

#backlight-slider,
#pulseaudio-slider {
  /* border-radius: 7px 0 0 7px; */
  opacity: 1;
  min-width: 100px; 
  transition: min-width 0.35s ease;
}

#backlight:hover + #backlight-slider,
#backlight-slider:hover {
  border: 2px;
}
#pulseaudio:hover + pulseaudio-slider,
.pulseaudio-slider:hover {
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 8px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: rgba(150, 150, 180, .3);
}


#custom-apps {
  font-size: 20px;
  background-color: rgba(12, 12, 12, 0.4);
  margin: 3px 3px;
  padding: 0rem 1.4rem 0rem 1rem;
  border-radius: 9px;
}

#taskbar {
  border-radius: 8px;
  padding: 0 5px;
  margin-left: 3px;
}

#taskbar button {
  border-radius: 4px;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem 0.1rem;
}

#taskbar button.active {
  background-color: rgba(26,27,38, .3);
}
#taskbar button:hover {
  border-radius: 40%;
  background-color: rgba(26,27,38, .8);
}

#custom-wlogout {
  border-radius: 20%;
  padding: 0px 12px;
  margin: 2px 8px 2px 5px;
  font-size: 13px;
}

#custom-wlogout:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(200, 74, 63, 0.5);
  border-radius: 80%;
}

#custom-notification {
  border-radius: 6px;
  padding: 0.1rem 0.9rem 0.1rem 0.7rem;
  margin-right: 9px;
}

